@font-face {
  font-family: "Cinzel";
  src: url("./fonts/Cinzel-VariableFont_wght.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
    font-family: "Cinzel", "Times New Roman";
}
