@font-face {
  font-family: "Cinzel";
  src: url("./fonts/Cinzel-VariableFont_wght.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
    font-family: "Cinzel", "Times New Roman";
    text-align: center;
}

body {
    display: flex;
    flex-flow: column;
    height: 100vh
}

footer {
    margin-top: auto
}